body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;
    margin: 0;
}

header {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    padding: 8px;
}